.flex-end{
    @include displayPosition(center,end);
}
.flex-center{
    @include displayPosition(center,center);
}
.flex-start{
    @include displayPosition(center,start);
}
.flex-around{
    @include displayPosition(center,space-around);
}
.text-orange{
    color: $orange;
}
.text-justify{
    text-align: justify;
}
.cursor-pointer{
    cursor: pointer;
}
.flex-between{
    @include displayPosition(center,space-between);
}
.align-end{
    @include displayPosition(end,center);
}
.end{
    @include displayPosition(end,end);
}
.gilroy-bold{
    font-family: 'Gilroy-Bold';
}
.gilroy-heavy{
    font-family: 'Gilroy-Heavy';
}
.gilroy-light{
    font-family: 'Gilroy-Light';
}
.gilroy-medium{
    font-family: 'Gilroy-Medium';
}
.gilroy-regular{
    font-family: 'Gilroy-Regular';
}
