@import './../../assets/scss/App.scss';

.client{
    padding-top: 7rem;
    padding-bottom: 10rem;
    .client-1{
        display: flex !important;
        background-image: url('./../../assets/images/unsplash__HqHX3LBN18 (2).png');
        height: 476px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .client-2{
        display: flex !important;
        background-image: url('./../../assets/images/unsplash_JaXs8Tk5Iww (1).png');
        height: 476px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .client-3{
        display: flex !important;
        background-image: url('./../../assets/images/unsplash_h2_3dL9yLpU (1).png');
        height: 476px;
        background-repeat: no-repeat;
        background-position: center;
        .client-desc{
            padding-bottom: 1.5rem;
        }
    }
    .client-details{
        background-color: rgb(255, 255, 255);
        border-radius: 18.1182px;
        //margin: 0 14%;
        width: 80%;
        @include xxl{
            width: 58%;
        }
        @include xl{
            width: 68%;
        }
        @include lg{
            width: 47%;
        }
        @include md{
            width: 63%;
        }
        padding: 0px 30px 10px 30px;
        .client-img-wrapper{
            margin-top: -26px;
            background-color: white;
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }
    }
    .slick-prev{
        @include xl{
            left: 2%;
        }
        @include md{
            left: 7%;
        }
        top: 25%;
        left: 0%;
        z-index: 10;
    }
    .slick-next{
        @include xl{
            right: 9%;
        }
        @include md{
            right: 20%;
        }
        top: 25%;
        right: 6%;
    }
    .slick-prev::before{
        display: none;
    }
    .slick-next::before{
        display: none;
    }
}