@import './../../assets/scss/App.scss';

.product {
    background-color: #F7F7F7;

    .category {
        background: #EEEEEE;
        border-radius: 44px;

        div {
            padding: 5px 15px;
            cursor: pointer;

            &:hover {
                background-color: white;
                border-radius: 32px;
            }
        }

        div.active {
            background-color: white;
            border-radius: 32px;
        }
    }

    .product-title {
        word-spacing: 5px;
        font-size: 42px !important;
    }

    .product-wrapper {
        background-color: #FAFAFA;

        img {
            width: 207px;
            height: 243px;
            transform: translateY(-40px);
        }
    }

    .product-card {
        border-radius: 20px;

        .currency {
            font-size: 18px;
        }
    }

    .card-wrapper {
        padding: 90px 0 50px 0;
    }

    .slick-prev::before {
        display: none;
    }

    .slick-next::before {
        display: none;
    }

    .slick-next {
        right: 5%;
        top: 38%;
        @include md{
            right: 13% !important;
        }
        @include lg{
            right: 9% !important;
        }
        @include sm{
            right: 18% !important;
        }
        @include xsss{
            right: 21% !important;
        }
        
    }

    .slick-prev {
        left: -1%;
        z-index: 10;
        top: 38%;
    }
}