@import './../../assets/scss/App.scss';

.main {
    height: 100vh;
    background-image: url('./../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.hero-heading{
    @include xl{
        font-size: 3.3rem;
    }
    @include lg{
        font-size: 2.9rem;
    }
    @include md{
        font-size: 2.3rem;
    }
    @include sm{
        font-size: 1.9rem;
    }
}
.hero-text{

    @include xl{
        font-size: 1.5rem;
    }
    @include lg{
        font-size: 1.3rem;
    }
    @include md{
        margin-top: 0.4rem;
        font-size: 1.25rem;
    }
    @include sm{
        font-size:1rem;
    }
}
.content {
    .content-text {
        font-size: 24px;
    }
}

.search-box{
    margin-top: 2.5rem;
}



.search-input{
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.15);
    border: 0.861538px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    font-size: 18px;
    color: #fff;
    outline: none;
    border-radius: 42px;
    width: 344px;
    height: 56px;
    &::placeholder{
        color: white;
    }
}

.search {
    transform: translateX(-50px);
}