@import './../../assets//scss//App.scss';
.footer{
    background: #F7F7F7;
    padding-top: 6rem;
    .menu-3{
        @include md{
            @include flex-start;
        }
        @include sm{
            @include flex-center;
        }
        .footer-menu-3{
            @include md{
                padding-left: 0;
            }
           
        }
    }
    .footer-menu{
        @include sm{
            padding: 0;
        }
        list-style: none;
        li{
            margin-bottom: 0.75rem;
        }
        img{
            width: 18px;
            height: 18px;
            object-fit: contain;
        }
    }
    .text-centerr{
        @include sm{
        text-align: center;
        }
    }
    .footer-links{
        @include sm{
            @include flex-center;
        }
    }
}