@import './../../assets/scss/App.scss';

.experience {
    padding:7rem 0;
    .experience-img {
        position: absolute;
    }

    .horizontal-img {
        position: absolute;
        z-index: -2;
        left: 190px;
    }

    .vertical-img {
        position: absolute;
        z-index: -2;
        top: -50px;

    }
    .exp-height{
        height: 460px;
    }
}
